.Mapa_nosotros{
    margin: 100px 0 0 0;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.Mapa_nosotros .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Mapa_nosotros .row, .Mapa_nosotros .col{
    height: 100%;
}
.col h1{
    margin-top: -10px;
}
.map{
    margin-top: 10px;
    width: 80%;
    height: 70%;
    border: 1px solid black;
}

.nosotros{
    margin-top: 10px;
    width: 70%;
    height: 55%;
    border: 1px solid black;
}


.btns{
    width: 50%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin-top: 10px;
}


.btns a{
    flex: 1;
    max-width: 25%;
    height: auto;
    object-fit: cover;
}

.Mapa_nosotros .col:first-child{
    background-color: rgb(56, 55, 55);
    color: white;
}


.Mapa_nosotros .col:last-child{
    background-color: rgb(104, 104, 104);
}

@media (max-width: 640px) {
    .Mapa_nosotros{
        margin: 100px 0 0 0;
        height: 80vh;
        width: 100%;
        overflow: hidden;
    }

    .nosotros{
        margin-top: 10px;
        width: 80%;
        height: 55%;
        border: 1px solid black;
    }

    .btns{
        width: 65%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .btns a{
        max-width: 20%;
    }
}