.nav-link a{
    text-decoration: none;
    color: rgb(190, 190, 190);
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;

}

nav {
    background-color: rgb(56, 55, 55);
}

@media screen and (min-width: 991px) and (max-width: 2000px) {
    .navbar-expand-lg .navbar-collapse{
        flex: none;
    }
}